
@font-face {
  font-family: 'QuadraatSansCon-Bold';
  src: url('QuadraatSansCon-Bold.eot?#iefix') format('embedded-opentype'),  url('QuadraatSansCon-Bold.otf')  format('opentype'),
	     url('QuadraatSansCon-Bold.woff') format('woff'), url('QuadraatSansCon-Bold.ttf')  format('truetype'), url('QuadraatSansCon-Bold.svg#QuadraatSansCon-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
